.carteGlobal {
  width: 30vw;
  height: 60vh;
  border: 5px solid red;
  padding: 10px;
  margin: 5px;

  &:hover {
    background-color: lightcyan;
  }

  .mainContent {
    // width: 30vw;
    // height: 30vh;

    .nameFavorite {
      display: flex;
      justify-content: space-around;
    }

    img {
      width: 100px;
      height: 100px;
      border: 2px solid black;
    }
  }
}
